In [1]:
!pip install optuna

Requirement already satisfied: optuna in c:\users\praja\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: numpy in c:\users\praja\anaconda3\lib\site-packages (from optuna) (1.24.2)
Requirement already satisfied: colorlog in c:\users\praja\anaconda3\lib\site-packages (from optuna) (6.7.0)
Requirement already satisfied: packaging>=20.0 in c:\users\praja\anaconda3\lib\site-packages (from optuna) (23.1)
Requirement already satisfied: PyYAML in c:\users\praja\anaconda3\lib\site-packages (from optuna) (6.0)
Requirement already satisfied: alembic>=1.5.0 in c:\users\praja\anaconda3\lib\site-packages (from optuna) (1.10.2)
Requirement already satisfied: tqdm in c:\users\praja\anaconda3\lib\site-packages (from optuna) (4.65.0)
Requirement already satisfied: cmaes>=0.9.1 in c:\users\praja\anaconda3\lib\site-packages (from optuna) (0.9.1)
Requirement already satisfied: sqlalchemy>=1.3.0 in c:\users\praja\anaconda3\lib\site-packages (from optuna) (1.4.39)
Requirement already satisfied: Mako in c:\users\praja\anaconda3\lib\site-packages (from alembic>=1.5.0->optuna) (1.2.4)
Requirement already satisfied: typing-extensions>=4 in c:\users\praja\anaconda3\lib\site-packages (from alembic>=1.5.0->optuna) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\praja\anaconda3\lib\site-packages (from sqlalchemy>=1.3.0->optuna) (1.1.1)
Requirement already satisfied: colorama in c:\users\praja\anaconda3\lib\site-packages (from colorlog->optuna) (0.4.6)
Requirement already satisfied: MarkupSafe>=0.9.2 in c:\users\praja\anaconda3\lib\site-packages (from Mako->alembic>=1.5.0->optuna) (2.0.1)

In [2]:
import optuna

In [3]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\praja\anaconda3\lib\site-packages (1.7.4)
Requirement already satisfied: scipy in c:\users\praja\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\praja\anaconda3\lib\site-packages (from xgboost) (1.24.2)

In [31]:
import optuna
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

- Xgboost regression
- above is regression problem

In [5]:
df = pd.read_csv("F:\PGDDS\PGD_Data_Science\csv_data\Admission_Predict.csv")

In [6]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admission
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Admission          400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [12]:
df.shape

(400, 9)

In [13]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Admission            0
dtype: int64

In [14]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admission
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

- Separating input and output

In [7]:
X = df.drop(columns=['Serial No.', 'Admission'], axis = 1)

In [8]:
X.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [9]:
y = df.Admission

In [10]:
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Admission, dtype: float64

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [17]:
X_train.shape

(320, 7)

In [18]:
X_test.shape

(80, 7)

In [19]:
y_train.shape

(320,)

In [20]:
y_test.shape

(80,)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
model = LinearRegression()

In [23]:
model.fit(X_train, y_train)

LinearRegression()

In [24]:
model.score(X_test, y_test)

0.8212082591486991

In [27]:
xgbr = xgb.XGBRegressor(objective='reg:squarederror')

In [28]:
xgbr.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [29]:
xgbr.score(X_test, y_test)

0.7748137422017702

In [36]:
ypred = xgbr.predict(X_test)
mse = mean_squared_error(y_test, ypred)
print(mse)

0.0058150656614350815